In [134]:
import pandas as pd
from datetime import datetime
import calendar

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
import pickle

In [135]:
data = pd.read_csv('bike_rental.csv')

In [136]:
data

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,01-01-2011 00:00,Spring,0,0,Clear,9.84,14.395,81,0.0000,3,13,16
1,01-01-2011 01:00,Spring,0,0,Clear,9.02,13.635,80,0.0000,8,32,40
2,01-01-2011 02:00,Spring,0,0,Clear,9.02,13.635,80,0.0000,5,27,32
3,01-01-2011 03:00,Spring,0,0,Clear,9.84,14.395,75,0.0000,3,10,13
4,01-01-2011 04:00,Spring,0,0,Clear,9.84,14.395,75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
10881,19-12-2012 19:00,Winter,0,1,Clear,15.58,19.695,50,26.0027,7,329,336
10882,19-12-2012 20:00,Winter,0,1,Clear,14.76,17.425,57,15.0013,10,231,241
10883,19-12-2012 21:00,Winter,0,1,Clear,13.94,15.910,61,15.0013,4,164,168
10884,19-12-2012 22:00,Winter,0,1,Clear,13.94,17.425,61,6.0032,12,117,129
10885,19-12-2012 23:00,Winter,0,1,Clear,13.12,16.665,66,8.9981,4,84,88

In [137]:
data['weather'].unique()

array(['Clear', 'Mist, Few clouds', 'Light snow, Rain, Thunderstorm',
       'Heavy Rain, Thunderstorm, Snow, Fog'], dtype=object)

In [138]:
print(data['datetime'][100].split()[0])
print(data['datetime'][100].split()[0].split('-'))

05-01-2011
['05', '01', '2011']

In [139]:
data['date'] = data['datetime'].apply(lambda x: x.split()[0])
data['day'] = data['datetime'].apply(lambda x: x.split()[0].split('-')[0])
data['month'] = data['datetime'].apply(lambda x: x.split()[0].split('-')[1])
data['year'] = data['datetime'].apply(lambda x: x.split()[0].split('-')[2])
data['hour'] = data['datetime'].apply(lambda x: x.split()[1].split(':')[0])
data['minute'] = data['datetime'].apply(lambda x: x.split()[1].split(':')[1])

In [140]:
data['datetime'][0]

'01-01-2011 00:00'

In [141]:
print(data['date'][100])
print(datetime.strptime(data['date'][100], '%d-%m-%Y')) 
print(datetime.strptime(data['date'][100], '%d-%m-%Y').weekday()) 
print(calendar.day_name[datetime.strptime(data['date'][100], '%d-%m-%Y').weekday()])

05-01-2011
2011-01-05 00:00:00
2
Wednesday

In [142]:
data['weekday'] = data['date'].apply(lambda dateString: calendar.day_name[datetime.strptime(dateString, '%d-%m-%Y').weekday()])

In [143]:
data

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,date,day,month,year,hour,minute,weekday
0,01-01-2011 00:00,Spring,0,0,Clear,9.84,14.395,81,0.0000,3,13,16,01-01-2011,01,01,2011,00,00,Saturday
1,01-01-2011 01:00,Spring,0,0,Clear,9.02,13.635,80,0.0000,8,32,40,01-01-2011,01,01,2011,01,00,Saturday
2,01-01-2011 02:00,Spring,0,0,Clear,9.02,13.635,80,0.0000,5,27,32,01-01-2011,01,01,2011,02,00,Saturday
3,01-01-2011 03:00,Spring,0,0,Clear,9.84,14.395,75,0.0000,3,10,13,01-01-2011,01,01,2011,03,00,Saturday
4,01-01-2011 04:00,Spring,0,0,Clear,9.84,14.395,75,0.0000,0,1,1,01-01-2011,01,01,2011,04,00,Saturday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10881,19-12-2012 19:00,Winter,0,1,Clear,15.58,19.695,50,26.0027,7,329,336,19-12-2012,19,12,2012,19,00,Wednesday
10882,19-12-2012 20:00,Winter,0,1,Clear,14.76,17.425,57,15.0013,10,231,241,19-12-2012,19,12,2012,20,00,Wednesday
10883,19-12-2012 21:00,Winter,0,1,Clear,13.94,15.910,61,15.0013,4,164,168,19-12-2012,19,12,2012,21,00,Wednesday
10884,19-12-2012 22:00,Winter,0,1,Clear,13.94,17.425,61,6.0032,12,117,129,19-12-2012,19,12,2012,22,00,Wednesday
10885,19-12-2012 23:00,Winter,0,1,Clear,13.12,16.665,66,8.9981,4,84,88,19-12-2012,19,12,2012,23,00,Wednesday

In [144]:
data['season'].unique()

array(['Spring', 'Summer', 'Fall', 'Winter'], dtype=object)

In [145]:
data['weekday'].unique()

array(['Saturday', 'Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday',
       'Friday'], dtype=object)

In [146]:
data.drop(['datetime', 'date'], axis=1, inplace=True)

In [147]:
data.head()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,day,month,year,hour,minute,weekday
0,Spring,0,0,Clear,9.84,14.395,81,0.0,3,13,16,01,01,2011,00,00,Saturday
1,Spring,0,0,Clear,9.02,13.635,80,0.0,8,32,40,01,01,2011,01,00,Saturday
2,Spring,0,0,Clear,9.02,13.635,80,0.0,5,27,32,01,01,2011,02,00,Saturday
3,Spring,0,0,Clear,9.84,14.395,75,0.0,3,10,13,01,01,2011,03,00,Saturday
4,Spring,0,0,Clear,9.84,14.395,75,0.0,0,1,1,01,01,2011,04,00,Saturday

In [148]:
data.isnull().sum()

season        0
holiday       0
workingday    0
weather       0
temp          0
atemp         0
humidity      0
windspeed     0
casual        0
registered    0
count         0
day           0
month         0
year          0
hour          0
minute        0
weekday       0
dtype: int64

In [149]:
data.dtypes

season         object
holiday         int64
workingday      int64
weather        object
temp          float64
atemp         float64
humidity        int64
windspeed     float64
casual          int64
registered      int64
count           int64
day            object
month          object
year           object
hour           object
minute         object
weekday        object
dtype: object

In [150]:
data.columns

Index(['season', 'holiday', 'workingday', 'weather', 'temp', 'atemp',
       'humidity', 'windspeed', 'casual', 'registered', 'count', 'day',
       'month', 'year', 'hour', 'minute', 'weekday'],
      dtype='object')

In [151]:
convert_col = ['day','month', 'year', 'hour', 'minute']
for col in convert_col:
    data[col] = data[col].astype('int')

In [152]:
data.month.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [153]:
data['month'] = data['month'].map({1: 'January', 2: 'February', 3: 'March', 4: 'April', 5:'May',6:'June',
                                   7:'July',8:'August',9:'September',10:'October',11:'November',12:'December'})

In [154]:
data.dtypes

season         object
holiday         int64
workingday      int64
weather        object
temp          float64
atemp         float64
humidity        int64
windspeed     float64
casual          int64
registered      int64
count           int64
day             int64
month          object
year            int64
hour            int64
minute          int64
weekday        object
dtype: object

In [155]:
season_enc = LabelEncoder()
weather_enc = LabelEncoder()
week_enc = LabelEncoder()
month_enc = LabelEncoder()

data['season'] = season_enc.fit_transform(data['season'])
data['weather'] = weather_enc.fit_transform(data['weather'])
data['weekday'] = week_enc.fit_transform(data['weekday'])
data['month'] = month_enc.fit_transform(data['month'])

In [156]:
data.dtypes

season          int64
holiday         int64
workingday      int64
weather         int64
temp          float64
atemp         float64
humidity        int64
windspeed     float64
casual          int64
registered      int64
count           int64
day             int64
month           int64
year            int64
hour            int64
minute          int64
weekday         int64
dtype: object

In [157]:
data.iloc[0]

season           1.000
holiday          0.000
workingday       0.000
weather          0.000
temp             9.840
atemp           14.395
humidity        81.000
windspeed        0.000
casual           3.000
registered      13.000
count           16.000
day              1.000
month            4.000
year          2011.000
hour             0.000
minute           0.000
weekday          2.000
Name: 0, dtype: float64

In [158]:
x = data.drop(['casual','registered','count'], axis=1)
y1 = data['casual']
y2 = data['registered']

In [159]:
x_train, x_test, y_train1, y_test1 = train_test_split(x, y1, test_size = 0.2 , random_state=12)
x_train, x_test, y_train2, y_test2 = train_test_split(x, y2, test_size = 0.2 , random_state=12)

In [160]:
model1 = RandomForestRegressor(random_state=12)
model1.fit(x_train, y_train1)
print(model1.score(x_train, y_train1))
print(model1.score(x_test, y_test1))

0.9889942422329395
0.9144985064864513

In [161]:
model2 = RandomForestRegressor(random_state=12)
model2.fit(x_train, y_train2)
print(model2.score(x_train, y_train2))
print(model2.score(x_test, y_test2))

0.9918714789401255
0.9472564739584295

In [162]:
a = model1.predict([[1,0,0,0,9.840,14.395,81.000,0.000,1.000,1.000,2011.000,0.000,0.000,2.000]])
b = model2.predict([[1,0,0,0,9.840,14.395,81.000,0.000,1.000,1.000,2011.000,0.000,0.000,2.000]])

c:\Users\Shyamily\Desktop\Syamily\RP2\PROJECTS\3. Bike rental prediction\.venv\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(
c:\Users\Shyamily\Desktop\Syamily\RP2\PROJECTS\3. Bike rental prediction\.venv\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

In [163]:
print(a,b)
int(a)+int(b)

[4.71] [24.16]

C:\Users\Shyamily\AppData\Local\Temp\ipykernel_14888\1984059867.py:2: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  int(a)+int(b)

28

In [164]:
import pickle
with open('model1.pkl', 'wb') as m1:
    pickle.dump(model1, m1)
with open('model2.pkl', 'wb') as m2:
    pickle.dump(model2, m2)

In [165]:
with open('season_obj.pkl','wb') as ob1:
    pickle.dump(season_enc, ob1)
with open('weather_obj.pkl','wb') as ob2:
    pickle.dump(weather_enc,ob2)
with open('weekday_obj.pkl','wb') as ob3:
    pickle.dump(week_enc,ob3)
with open('month_obj.pkl','wb') as ob4:
    pickle.dump(month_enc,ob4)